<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CEFE</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/styleMenu.css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="container body-content"><!-- inicio container -->
        <nav id="navMenu" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logo">
                        <img src="./../../images/CEFELogo.png" asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand" id="logoCEFE" />
                        <span asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand" id="textologoCEFE" >CEFE</br>Casa Espírita Fratenidade Emanuel</span>
                    </div>
                </div>
            </div>
        </nav>
    </div><!-- inicio container -->
    <!--Inicio do Menu container -->
    <div class="menuContainer">
	<!--Primeiro Botão (CASA ESPÍRITA)-->
        <ul class="menu clearfix" role="menu" aria-labelledby="dLabel">
            <li><a asp-area="" asp-controller="Home" asp-action="Index" tabindex="-1">CASA ESPÍRITA</a>
                <!-- Nivel 1 -->
                <!-- Primeiro botão -->
                <ul class="sub-menu clearfix">
                    <li><a asp-area="" asp-controller="Home" asp-action="#">Quem Somos</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="#">Administração</a>
                        <!-- Primeiro botão -->
                        <!-- Primeiro botão -->
                        <ul class="sub-menu clearfix">
                            <li><a asp-area="" asp-controller="Home" asp-action="#">Gestão atual</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="#">Gestão anterior</a></li>
                        </ul>
                    </li>
                    <li><a asp-area="" asp-controller="Home" asp-action="#">Qume é quem</a></li>
                </ul>
            </li>
        </ul>
        <!--Segundo Botão (ESTUDO)-->
        <ul class="menu clearfix" role="menu" aria-labelledby="dLabel">
            <li><a asp-area="" asp-controller="Home" asp-action="Index" tabindex="-1">ESTUDO</a>
                <ul class="sub-menu clearfix">
                    <li><a asp-area="" asp-controller="Home" asp-action="#">Evangelização</a>
                        <ul class="sub-menu clearfix">
                            <li><a asp-area="" asp-controller="Home" asp-action="#">Infância</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="#">Jovens</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="#">Adulto</a></li>
                        </ul>                                
                    </li>
                    <li><a asp-area="" asp-controller="Home" asp-action="#">Cursos</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="#">Oficinas</a></li>
                </ul>
            </li>
        </ul>                    
        <!--Terceiro Botão (PRÁDICA)-->
        <ul class="menu clearfix" role="menu" aria-labelledby="dLabel">
            <li><a asp-area="" asp-controller="Home" asp-action="Index" tabindex="-1">PRÁTICA</a>
                <ul class="sub-menu clearfix">
                    <li><a asp-area="" asp-controller="Home" asp-action="#">Campanhas</a>
                        <ul class="sub-menu clearfix">
                            <li><a asp-area="" asp-controller="Home" asp-action="#">Fratenidade Auta de Souza</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="#">Esclacimento Chico Xavier</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="#">Jesus no Lar</a></li>
                        </ul>                                
                    </li>
                    <li><a asp-area="" asp-controller="Home" asp-action="#">Mãos Limpas</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="#">Atendimento</a>
                        <ul class="sub-menu clearfix">
                            <li><a asp-area="" asp-controller="Home" asp-action="#">Gestantes</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="#">Assistidos</a></li>
                        </ul>                                  
                    </li>
                    <li><a asp-area="" asp-controller="Home" asp-action="#">Grupo Mediúnico</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="#">Passes</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="#">Bazar</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="#">Eventos</a></li>
                </ul>
            </li>
        </ul>                     
        <!--Quarto Botão (ARTE)-->
        <ul class="menu clearfix" role="menu" aria-labelledby="dLabel">
            <li><a asp-area="" asp-controller="Home" asp-action="Index" tabindex="-1">ARTE</a>
                <ul class="sub-menu clearfix">
                    <li><a asp-area="" asp-controller="Home" asp-action="#">Coral</a>
                        <ul class="sub-menu clearfix">
                            <li><a asp-area="" asp-controller="Home" asp-action="#">Infantil Amigos de Meimei</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="#">Espírita Fraternidade Emmanuel</a></li>
                        </ul>                                
                    </li>
                    <li><a asp-area="" asp-controller="Home" asp-action="#">Teatro Mesas Girantes</a></li>
                </ul>
            </li>
        </ul>                     
        <!--Quinto Botão (CONTATO)-->
        <ul class="menu clearfix" role="menu" aria-labelledby="dLabel">
            <li><a asp-area="" asp-controller="Home" asp-action="Index" tabindex="-1">CONTATOS</a>
                <ul class="sub-menu clearfix">
                    <li><a asp-area="" asp-controller="Home" asp-action="#">Rede Sociais</a>
                        <ul class="sub-menu clearfix">
                            <li><a asp-area="" asp-controller="Home" asp-action="#">Facebook</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="#">Twitter</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="#">Instagram</a></li>
                        </ul>                                
                    </li>
                    <li><a asp-area="" asp-controller="Home" asp-action="#">Maiores Informações</a></li>
                </ul>
            </li>
        </ul> 
    </div>
    <!--Fim do Menu container -->
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; 2018 - CefeMvc</p>
    </footer>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
