@{
    ViewData["Title"] = "Bem Vindo";
}
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">  
 <div><!-- Inicia o Carousel -->
    <div class="atividadePermanente col-md-2">
        <div class="atividade col-md-2">Palestras</div>
        <div class="atividade col-md-2">Biblioteca e Livraria</div>
        <div class="atividade col-md-2">Doações e Seja Sóco</div>
    </div>
    <div id="custom_carousel" class="carousel slide" data-ride="carousel" data-interval="2500">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="container-fluid">
                    <div class="row">
                        <div>
                            <iframe frameborder="0" width="91%" seamless aria-atomic="true" scrolling="no" src="./../publicidades/vindeamin/vindeamin.htm" ></iframe>
                        </div>
                    </div>
                </div>            
            </div> 
            <div class="item">
                <div class="container-fluid">
                    <div class="row">
                        <div>
                            <iframe frameborder="0" width="91%" seamless aria-atomic="true" scrolling="no" src="./../publicidades/AtivExterna/atividadeExterna03_2018.htm" ></iframe>
                        </div>
                    </div>
                </div>            
            </div> 
            <div class="item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="publicidade3 col-md-2">
                            <span><img src="./../publicidades/AtivInterna/CoralCEFE.png" alt=""></span>
                            <video width="480" height="350" src="./../publicidades/DepressaoDefinicaoSintomas.mp4" controls play></video>    
                        </div>
                    </div>
                </div>           
            </div> 
            <div class="item">
                <div class="container-fluid">
                    <div class="row">
                        <div>
                            <iframe frameborder="0" width="91%" seamless aria-atomic="true" scrolling="no" src="./../publicidades/AtivInterna/coralAmigosMeimei.htm" ></iframe>
                        </div>
                    </div>
                </div>           
            </div> 
        <!-- End Item -->
        </div>
        <!-- End Carousel Inner -->
        <div class="controls">
            <ul class="nav">
                <li data-target="#custom_carousel" data-slide-to="0" class="active"><a href="#"><i class="material-icons">fiber_manual_record</i><small>Trabalhe seu emocional</small></a></li>
                <li data-target="#custom_carousel" data-slide-to="1" ><a href="#"><i class="material-icons">fiber_manual_record</i><small>O que está acontecendo?</small></a></li>
                <li data-target="#custom_carousel" data-slide-to="2" ><a href="#"><i class="material-icons">fiber_manual_record</i><small>Atividades Internas</small></a></li>
                <li data-target="#custom_carousel" data-slide-to="3" ><a href="#"><i class="material-icons">fiber_manual_record</i><small>Atividades Internas</small></a></li>
            </ul>
        </div>
    </div>   
</div><!-- finaliza Carousel -->
</div>
<div class="row">
</div>
