.logo{
	display: block;
	position: relative;
	margin-top: -85px;
}
#textologoCEFE{
	display: block;
	position: relative;
	cursor: pointer;
	margin-top: 24px;
	color: #000000;
	background-color: transparent;
}
#logoCEFE{
	display: block;
	position: relative;
	cursor: pointer;
	background-color: transparent;
	width: 22%;
	height: 0%;
}
.atividadePermanente{
	display: flex;
	position: relative;
	width: 90%;
	border: solid 1px #ccc000;
	margin-left: 65px;
	padding: 15px 0px;
	margin-bottom: 4px;
}
.atividade{
	display: block;
	position: relative;
	background-color: springgreen;
	padding: 0;
	align-content: center;
	border-radius: 3px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: -7px;
	width: 20%;
	height: 200px;
}
.container{
	display: block;
	position: relative;
	margin-top: 80px;
	height: 28px;
}
.carousel {
    position: relative;
    width: 91%;
    margin: auto;
}
.row {
    display: block;
    position: relative;
    width: 83%;
    margin: auto;
}
/*Inicio Configurando o Menu*/
#navMenu{
	display: -webkit-box;
	display: block;
	position: absolute;
	-webkit-box-orient: horizontal;
	height: 110px;
	margin-top: -80px;
}
/**Estilizar o Menu e sub-menus*/
.menuContainer{
	display: block;
	position: absolute;
	margin-top: -26px;
	z-index: 1030;
	margin-left: 330px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 0px 0px;
}
.carousel-inner, row{
	background-color: transparent;
    height: 380px;
    margin-top: -5px;
}
.container-fluid{
	display: block;
	position: relative;
}

iframe[seamless]{
	display: block;
	width: 910px;
	height: 500px;
}

.publicidade3{
	display: flex;
}
.menuContainer, .menu {
	flex-direction: row;
	display: flex;
	position: relative;
	width: 160px;
}
.clearfix:after{
	content: "";
    display: block;
    clear: both;
	height: 0;
	padding: 0;
    line-height: 0;
    font-size: 0;
    visibility: hidden;
    overflow: hidden;
}
.menu,
.sub-menu {
	list-style: none;
	list-style-type: none;
	background: #FFFFFF;
}
.sub-menu {
    background: #FFF;
}
.menu a {
    text-decoration-line: none;
    display: block;
	padding: 3px 2px;
	border: solid 1px #ccc000;
	width: 161px;
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
}
.menu li {
	position: relative;
	margin-left: -40px;
}
.menu > li {
	float: left;
}
.menu > li:hover {
    background: #ccc000;
}
.menu li:hover > .sub-menu {
    display: block;
}
.sub-menu {
    display: none;
    position: absolute;
    min-width: 144.5px;
}
.sub-menu li:hover {
    background: #ccc000;
}
.sub-menu .sub-menu {
    top: 0px;
	left: 100%;
}






